@import "bulma";            // Import bulma base
@import "variables";        // Import our variables that may have overrides
@import "ui";               // Import from our pods

html, body, #root {
  height: 100%;
  overflow-y: auto;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

body {
  background-image: url('../images/background.jpg');
}

.ember-application {
  display: flex;
  flex-direction: column;
  height: 100%;

  > main {
    flex-grow: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    display: inline;
    font-size: small;
    padding-left: 1em;
  }
}

main > .container > section {
  background: $white;
  margin: 15px 0;
  padding: 10px;

  & > .hero {
    margin: -10px -10px 10px -10px;;
  }
}

.content iframe {
  max-width: 100%;
}
