.post {
  background: $white;
  margin: 15px 0;
  padding: 10px;

  header {
    border-bottom: 1px solid $grey-lighter;

    .post-title {
      font-size: xx-large;
      font-weight: bold;
    }

    .post-date {
      font-size: x-large;
      font-style: italic;
    }

    .post-button {
      margin: 0 15px;
    }

    .post-comments-count {
      align-self: flex-end;
      padding-bottom: 0.5em;
    }

    a {
      color: $grey-dark;

      &:hover {
        color: $green;
      }
    }
  }
}
