<section class="post post-summary">
  <header class="level">
    <h1 class="level-left post-title">
      {{#link-to 'post' post}}{{post.title}}{{/link-to}}
      <small>{{disqus-comment-count identifier=post.title}}</small>
    </h1>
    <div class="level-right post-date">{{post.created}}</div>
  </header>
  <div class="content">
    {{post.body}}
  </div>
</section>
