<footer class="foot">
  © 2018 Christopher Rice
  <div class="is-pulled-right links">
    <a href="//linkedin.com/in/christopherscottwetzelrice/">{{fa-icon 'linkedin'}}</a>
    <a href="//github.com/kilowhisky">{{fa-icon 'github-square'}}</a>
  </div>
</footer>
