<header id="site-header" class="container">
  <figure id="banner-image" class="image">
    <img src="images/profile.jpg"/>
  </figure>
  <div id="banner-content-container">
    {{code-floater}}
    <div id="banner-title">
      <h1 class="title is-1">Christopher Rice</h1>
      <h2 class="subtitle">Front End | Back End | High Transaction DBA | Full Stack Developer</h2>
    </div>
    <div id="banner-tabs" class="tabs">
      <ul>
        <li>
          {{#link-to 'front-end'}}Blog{{/link-to}}
        </li>
        <li>
        </li>
        <li>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="//linkedin.com/in/christopherscottwetzelrice/" class="tab-inverse">{{fa-icon 'linkedin'}}</a>
        </li>
        <li>
          <a href="//github.com/kilowhisky" class="tab-inverse">{{fa-icon 'github-square'}}</a>
        </li>
      </ul>
    </div>
  </div>
</header>
