<header id="site-header" class="container">
  <div id="banner-content-container">
    {{code-floater}}
    <div id="banner-title">
      <figure id="banner-image" class="image">
        {{#link-to 'index'}}<img src="{{root-url}}images/profile.jpg"/>{{/link-to}}
      </figure>
      <h1 class="title is-1">Christopher Rice</h1>
      <h2 class="subtitle">Front End | Back End | High Transaction DBA | Full Stack Developer</h2>
    </div>
    {{yield}}
  </div>
</header>
