<div class="container">
  <section class="post">
    <header class="level">
      <h1 class="post-title">{{model.title}}</h1>
      <div class="level-right post-date">{{model.created}}</div>
    </header>
    <div class="content">
      {{model.body}}
    </div>
    {{disqus-comments identifier=model.title}}
  </section>
</div>
