<div class="container">
  {{#each model as |post|}}
    {{show-post post=post showComments=false}}
  {{else}}
    <section>
      <h1 class="title is-1">Uh Oh!</h1>
      <h3 class="subtitle is-3">No Posts Found</h3>
      <p>Does this help at all?</p>
      <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
    </section>
  {{/each}}
</div>
