{{#site-header}}
  <nav id="banner-tabs" class="tabs">
    <ul>
      <li>
        {{#link-to 'index'}}Blog{{/link-to}}
      </li>
      <li>
      </li>
      <li>
        {{#link-to 'new-post'}}New Post{{/link-to}}
      </li>
    </ul>
    <ul class="right">
      <li>
        <a href="//linkedin.com/in/christopherscottwetzelrice/" class="tab-inverse tab-fa">{{fa-icon 'linkedin'}}</a>
      </li>
      <li>
        <a href="//github.com/kilowhisky" class="tab-inverse tab-fa">{{fa-icon 'github-square'}}</a>
      </li>
    </ul>
  </nav>
{{/site-header}}
<main>
  {{outlet}}
</main>
{{site-footer}}
