<div class="container">
  <section>
    <header class="hero is-warning">
      <div class="hero-body">
        <h1 class="title is-1">Are you lost?</h1>
        <h2 class="subtitle is-3">Did something go wrong?</h2>
      </div>
    </header>
    <div>
      <p>We arn't sure how exactly you got here but here's a picture of cat to help you on your way.</p>
      <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
    </div>
  </section>
</div>
